<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- Bootstrap  -->

        <link
            rel="stylesheet"
            href="{{ url_for('static', filename= '/css/history.css') }}" />
        <title>{% block title %} Base {% endblock %}</title>
    </head>
</html>
<body>
    <table>
        <tr>
            <th>ID</th>
            <th>Image</th>
            <th>Kind</th>
            <th>Total</th>
            <th>Time</th>
        </tr>
        <tr class="clickable-row">
            <td>{{session[0]}}</td>
            <td>
                <img class="list_img" src="/static/yolov8/{{session[1]}}" />
            </td>
            <td><p class="tt">{{session[2]}}</p></td>
            <td>{{session[3]}}</td>

            <td>{{session[4]}}</td>
        </tr>
        <tr class="clickable-row">
            <td>{{session[0]}}</td>
            <td>
                <img class="list_img" src="/static/yolov8/{{session[1]}}" />
            </td>
            <td><p class="tt">{{session[2]}}</p></td>
            <td>{{session[3]}}</td>
            <td>{{session[4]}}</td>
        </tr>
    </table>

    <img id="disImg" src="" />
    <p id="thongso"></p>

    <script>
        console.log('hi');
        document.addEventListener('DOMContentLoaded', function () {
            // Lấy danh sách các hàng có class là "clickable-row"
            var rows = document.querySelectorAll('.clickable-row');

            // Lặp qua từng hàng và thêm sự kiện click
            rows.forEach(function (row) {
                row.addEventListener('click', function () {
                    // Lấy đường dẫn của ảnh từ thẻ img trong hàng được click
                    var imgSrc = row.querySelector('.list_img').src;

                    // Thay đổi đường dẫn của thẻ img có id là "disImg" thành đường dẫn mới
                    var disImg = document.getElementById('disImg');
                    disImg.src = imgSrc;

                    var thongso = row.querySelector('.tt').textContent;

                    // Thay đổi nội dung của thẻ p có id là "thongso" thành nội dung mới
                    var thongsoElement = document.getElementById('thongso');
                    thongsoElement.textContent = thongso;
                });
            });
        });
    </script>
</body>
