<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
            <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Setting</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <title>Homepage</title>
    </head>
    <body >
        <div id="wrapper" >
            <div class="container-fluid home-hero">
                <div class="navbar-logo-left">
                    <div class="nav__default">
                        <a href="/">
                            <img
                                src="{{url_for('static', filename='image/logo.png')}}"
                                alt="Roboflow"
                                width="pz"
                                height="192"
                                class="nav__logo" />
                        </a>
                        <div class="nav__main">
                            <div class="nav__touch w-drop-downdown">
                                <div class="nav__text">
                                     {% if session %}
                    <a href="/classification">Classfication</a>
                    {% else %}
                    <a href="/login">Classfication</a>
                    {% endif %}

                                    <span
                                        ><i class="fa-solid fa-chevron-down"></i
                                    ></span>
                                </div>
                            </div>

                        </div>
                        <div class="nav__main__actions">
                             {% if session %}
                     <a
                                href="{{url_for('logout')}}"
                                class="rf-button-white outline-button mobile-hide">
                                Logout
                                <span
                                    ><i class="fa-solid fa-arrow-right"></i
                                ></span>
                            </a>
                    {% else %}
                   <a
                                href="{{url_for('login')}}"
                                class="rf-button-white outline-button mobile-hide">
                                Login
                                <span
                                    ><i class="fa-solid fa-arrow-right"></i
                                ></span>
                            </a>
                    {% endif %}


                        </div>
                    </div>
                </div>
            </div>
            <div class="container ct">
                <div class="row">
                    <div class="col-md-6 col-sm-12">

                    </div>
                    <div class="col-md-6 col-sm-12 vd d-none d-lg-block">
                        <video width="100%" height="100%" autoplay>
  <source src="{{url_for('static', filename='BQPUIvUg.mp4')}}" type="video/mp4">
  Your browser does not support the video tag.
</video>

                    </div>
                </div>
                <div class="nav__main__actions go">
                    {% if session %}
                     <a
                        href="{{url_for('classification')}}"
                        class="rf-button-white outline-button mobile-hide">
                        Classfication
                    </a>
                    {% else %}
                    <a
                        href="{{url_for('login')}}"
                        class="rf-button-white outline-button mobile-hide">
                        Classfication
                    </a>
                    {% endif %}
                    <a
                    href="{{url_for('login')}}"
                    class="rf-button-white outline-button mobile-hide">
                    Try on Mobile
                     </a>

                </div>

            </div>

                </div>



    </body>
</html>
