<!--{% extends "base.html" %} {% block title %} Login {% endblock %}-->

<!--&lt;!&ndash; Content &ndash;&gt;-->
<!--{% block content%}-->
<!--<form action="" method="POST" style="margin-top: 150px">-->
<!--  <section class="text-center">-->
<!--    <div-->
<!--      class="card mx-4 mx-md-5 shadow-5-strong"-->
<!--      style="-->
<!--        margin-top: -100px;-->
<!--        background: hsla(0, 0%, 100%, 0.8);-->
<!--        backdrop-filter: blur(30px);-->
<!--      "-->
<!--    >-->
<!--      <div class="card-body py-5 px-md-5">-->
<!--        <div class="row d-flex justify-content-center">-->
<!--          <div class="col-lg-8">-->
<!--            <h2 class="fw-bold mb-5">Login now</h2>-->
<!--            <form>-->
<!--              &lt;!&ndash; 2 column grid layout with text inputs for the first and last names &ndash;&gt;-->

<!--              &lt;!&ndash; Email input &ndash;&gt;-->
<!--              <div class="form-outline mb-4">-->
<!--                <label-->
<!--                  class="form-label"-->
<!--                  for="email"-->
<!--                  style="margin-right: 560px"-->
<!--                  >Email</label-->
<!--                >-->
<!--                <input-->
<!--                  type="email"-->
<!--                  class="form-control"-->
<!--                  id="email"-->
<!--                  name="email"-->
<!--                />-->
<!--              </div>-->
<!--              &lt;!&ndash; Password input &ndash;&gt;-->
<!--              <div class="form-outline mb-4">-->
<!--                <label for="password1" style="margin-right: 520px"-->
<!--                  >Password</label-->
<!--                >-->
<!--                <input-->
<!--                  type="password"-->
<!--                  class="form-control"-->
<!--                  id="password1"-->
<!--                  name="password1"-->
<!--                  placeholder=""-->
<!--                />-->
<!--              </div>-->
<!--              &lt;!&ndash; Submit button &ndash;&gt;-->
<!--              <button-->
<!--                type="submit"-->
<!--                class="btn btn-primary btn-block mb-4"-->
<!--                style="background-color: #7f14f3"-->
<!--              >-->
<!--                Login-->
<!--              </button>-->
<!--            </form>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </section>-->
<!--  &lt;!&ndash; Section: Design Block &ndash;&gt;-->
<!--</form>-->
<!--{{ text }} {% endblock %}-->
